{% extends 'base.html.twig' %}

{% block title %}Zamówienia{% endblock %}

{% block body %}
    <table>
        <th>Kupujący</th>
        <th>Adres dostawy</th>
        <th>Produkty</th>
        <th>Cena</th>
        <th>Telefon</th>
        {% for order in orders %}
            <tr>
                <td>{{ order.Customer }}</td>
                <td>{{ order.Address }}</td>
                <td>
                    {% for product in order.Products %}
                        {{ product.Name }},
                    {% endfor %}
                </td>
                <td>{{ order.Price }}</td>
                <td>{{ order.Phone }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
